# Ignoriere alle wp- Dateien
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Ignoriere .idea Verzeichnis und andere spezifische Verzeichnisse
.idea/
wp-admin/
wp-includes/
license.txt

# Ignoriere alles standardmäßig
*

# Aber nicht diese spezifischen Dateien
!.gitignore
!README.md
!package.json
!webpack.mix.js

# Behalte den wp-content Ordner und seinen Inhalt
!wp-content/
wp-content/*

# Behalte den themes Ordner und seinen Inhalt
!wp-content/themes/
wp-content/themes/*


# Behalte den portfolio Ordner und seinen Inhalt
!wp-content/themes/portfolio/

wp-content/themes/portfolio/*/
!wp-content/themes/portfolio/ressources/
!wp-content/themes/portfolio/ressources/**
!wp-content/themes/portfolio/components/
!wp-content/themes/portfolio/components/*
!wp-content/themes/portfolio/home/
!wp-content/themes/portfolio/home/*



# Ignoriere die Ordner ai1wm-backups, languages und plugins
wp-content/ai1wm-backups/
wp-content/languages/
wp-content/plugins/


