.about-me{
  .hero{
    h2{
      padding: 30px;
      margin: 0;
      background-color: #232322;
      color: #D9ECD3;
    }
    .about-me{
      display: grid;
      grid-template-columns: 3fr 1fr 3fr;
      grid-template-areas:"img title content";
      padding: 130px 100px 0;
      h3{
        font-family: "Southland", serif;
        font-size: 95px;
        grid-area: title;
        transform: rotate(-90deg);
        min-width: 130%;
        margin: 95px auto;
        white-space: nowrap;
      }
      &__content{
        grid-area: content;
        display: flex;
        gap: 45px;
        flex-direction: column;
        h4{
          font-family: "Vogue", sans-serif;
          font-size: 25px;
        }
        p{
          font-size: 20px;
          line-height: 30px;
        }
        .my-career, .my-vision{
          display: flex;
          gap: 10px;
          flex-direction: column;
        }
      }
      img{
        grid-area: img;
        max-width: 100%;
        outline: 1px green solid;
        outline-offset: 10px;
      }
    }
  }
}