@import "../global/variables";
.footer {
  background-color: $dark-grey;
  color: $off-white;
  margin: 4.17em 0;
  padding: 1.11em 1.67em;
  text-align: center;

  h2 {
    font-family: "Southland", serif;
    color: $mint-green;
    font-size: 3.33em;
    text-align: center;
    margin: 0;

    &:before,
    &:after {
      height: 0;
    }
  }

  a, p {
    font-size: 0.56em;
    color: $off-white;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.11em;
    margin: 1.67em;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100vw;
      height: 0.06em;
      left: -3.33em;
      background: linear-gradient(to right, $olive-green 0%, $mint-green 50%, $olive-green 100%);
    }

    &:before {
      top: -1.11em;
    }

    &:after {
      bottom: -1.11em;
    }

    &__social {
      li {
        width: 1.67em;
        height: 1.67em;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &__contact, &__social {
      display: flex;
      flex-direction: column;
      gap: 0.28em;

      h3 {
        font-family: "Vogue", sans-serif;
        font-size: 1.39em;
        color: $off-white;
      }

      &__list {
        display: flex;
        gap: 0.56em;
        justify-content: center;
      }
    }

    &__contact {
      &__list {
        flex-direction: column;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

@media (min-width: 800px) {
  .footer {
    margin: 9.38em 0;
    padding: 1.67em 3.33em;

    h2 {
      font-size: 6.94em;
      text-align: left;
    }

    a, p {
      font-size: 0.94em;
    }

    &__container {
      flex-direction: row;
      gap: 1.39em;
      padding: 1.11em 0;
      margin: 1.67em 0;

      &:before,
      &:after {
        height: 0.13em;
      }

      &:after {
        bottom: -1.11em;
      }

      &__contact, &__social {
        gap: 1.11em;
        text-align: left;

        h3 {
          font-size: 1.94em;
        }

        &__list {
          gap: 0.72em;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    margin: 17.08em 0;
    padding: 2.22em 8em;

    h2 {
      font-size: 6.94em;
      text-align: left;

      &:before,
      &:after {
        height: 0;
      }
    }

    a, p {
      font-size: 1.11em;
    }

    &__container {
      padding: 3.06em 0;
      flex-direction: row;
      gap: 1.39em;

      &:before,
      &:after {
        height: 0.13em;
        left: -8em;
      }

      &:after {
        bottom: 1.39em;
      }

      &__contact, &__social {
        gap: 1.11em;

        h3 {
          font-size: 1.67em;
        }

        &__list {
          gap: 0.72em;
        }
      }
    }
  }
}
